$Primary-color: #FF6060;


.Apartment {
    display: flex;
    flex-direction: column;
    margin: 0rem 6rem;
    margin-bottom: 2rem;
}

.Apartment-window {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Apartment-info {
        display: flex;
        flex-direction: column;
    h3 {
        margin-bottom: 10px;
        font-size: min(36px, 3vw);
        font-weight: 500;
        color: $Primary-color;
    }
    span {
        font-size: min(18px, 1.5vw);
        font-weight: 500;
        color: $Primary-color;
    }
  }

.Apartment-tags {
    display: flex;
    margin-top: 15px;
  span {
    margin-right: 5px;
    background-color: $Primary-color;
    color: white;
    font-weight: 500;
    max-width: 115px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 10px;
    font-size: min(14px, 0.8vw);
    }
}

.Apartment-description {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.Apartment-host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  img {
      max-width: 64px;
      max-height: 64px;
      border-radius: 50%;
      margin-right: 10px;
    }
  span {
      font-size: min(18px, 1.5vw);
      font-weight: 500;
      color: $Primary-color;
      margin-right: 10px;
    }
}

.Apartment-rating {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
    
.Apartment-rating-stars {
    i {
        color: $Primary-color;
        font-size: 1.4em;
        margin-right: 3px;    
    }
}

.Apartment-rating-reviews {
    margin-left: 10px;
    font-size: 0.9em;
}

.Apartment-coll {
    margin-top: 2.3rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    > div {
        width: 45%;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
}

.Apartment-rating-stars {
    color: $Primary-color;
    font-size: 2em;
    margin-right: 3px;
}