.appartementchilds {
    width: 100%;
}

.appartement-details {
    background-color: #FF6060;
    border-radius: 5px;
    margin: 0 13rem 2rem 13rem;
    span {
        font-size: 1.7rem;
        padding-top: 5px;
        color: white;;
    }
    p {
        font-size: 1.5rem;
        color: white;
        border-radius: 5px;
    }
}

.description1 {
    color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 -15px 15px;
    i {
        padding: 0.5rem 1.5rem 0rem 0rem;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
}
    
.description-content {
    background-color: lightgray;
    color: white;
}


@media screen and (max-width: 768px) {
    .appartement-details {
        margin: 0 2rem 2rem 2rem;
    }
}
