@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Banner {
    position: relative;
    @include flex;
    background-position: center;
    width: calc(100% - 12rem);
    margin: auto;
    height: 235px;
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom:2rem;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        background:rgba(0, 0, 0, 0.3);
    }
}


.Banner.home::before {
    content: "";
    position: absolute;
    background-image: url("./../../public/assets/imgbanner1.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

.Banner.Info::before {
    content: "";
    position: absolute;
    background-image: url("./../../public/assets/imgbanner2.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 2rem;

}

.Banner {
    h1 {
        font-size: 3rem;
        font-weight: 500;
        color: white;
        text-align: center;
        z-index: 1;
    }
}

@media screen and (max-width: 1024px) {

    .Banner {
        h1 {
            font-size: min(4rem, 5vw);
        }
    }

}


@media screen and (max-width: 768px) {
    .Banner {
        height: 150px;
        h1 {
            font-size: min(4rem, 3.5vw);
        }
    }
}