@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Banner {
    position: relative;
    @include flex;
    background-position: center;
    width: 100%;
    margin: auto;
    height: 200px;
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.Banner::before {
    content: "";
    position: absolute;
    background-image: url("./../../public/assets/imgbanner1.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    inset: 0 6rem 0 6rem;
    border-radius: 2em;
}

.Banner {
    h1 {
        font-size: 3rem;
        font-weight: 500;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
        z-index: 1;
    }
}


@media screen and (max-width: 1024px) {

    .Banner {
        h1 {
            font-size: min(4rem, 5vw);
        }
    }

}



@media screen and (max-width: 768px) {
    .Banner {
        height: 150px;
        h1 {
            font-size: min(4rem, 4.5vw);
        }
    }


    .Banner::before {
        inset: 0 2rem 0 2rem;
    }
}