.Footer {
    background-color: black; 
}

.Footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem 0 0 0;
    img {
        width: 122.5px;
        height: 40px;
        margin: 0 auto;
    }
    p {
        text-decoration: none;
        color: white;
        font-size: 24px;
        margin: 2.5rem 0 2rem 0;
        text-align: center;
    }
}